# SPOTIFY — Variables d'environnement
# Copier ce fichier en .env et ne jamais committer .env

# PostgreSQL
POSTGRES_USER=spotify
POSTGRES_PASSWORD=spotify
POSTGRES_DB=spotify
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_PARQUET=spotify-parquet
MINIO_BUCKET_CHECKPOINTS=spotify-checkpoints
MINIO_BUCKET_LABELS=labels-raw

# Airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# Kafka (Phase 2)
KAFKA_BOOTSTRAP=kafka-1:9092,kafka-2:9094,kafka-3:9096

# Simulateur P2P
P2P_EVENTS_PER_SECOND=5
P2P_N_PEERS=20
P2P_MODE=normal

# Groupe (à personnaliser)
GROUP_NAME=groupe-a
GROUP_KAFKA_ENDPOINT=localhost:9092
